body{
    font-family: 'Open Sans', sans-serif;
    margin-left:40px;
    font-weight:200;
    font-size:17px;
}
#credits{
    width: 1000px;
    margin: auto;
    position: relative;
    left: 2px;
    //border:2px solid #a1a1a1;
    padding:0px 10px 10px 10px; 
    background:#dddddd;
    border-radius:25px;
}
text{
    cursor:default;
}
th, td{
  width: 400px;
}
.firstcolumn{
    width:230px;
}
.secondcolumn{
    width:450px;
}
.thirdcolumn{
    width:300px;
}
.fourthcolumn{
    width:300px;
}